{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>User Details </title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>

        <br>
        <br>

        <h3> User Details </h3>
        <table>
            <thead>
            <tr>
                <td>First Name</td>
                <td>Last Name</td>
                <td>Username</td>
                <td>Email</td>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>{{ userDetail.first_name }}</td>
                <td>{{ userDetail.last_name }}</td>
                <td>{{ userDetail.username }}</td>
                <td>{{ userDetail.email }}</td>
            </tr>
            </tbody>
        </table>

        <a href="{% url 'admin-dashboard' %}">Back</a>
    </body>
</html>